html
    head
        title Gaga Snekaers - Admin Login
        style
            include ../public/css/admin-login.css
    body
        div(id="form")
            h1 Admin Login
            input#password(type="password", placeholder="Password")
            button#submit Submit
        script(src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js")
        script(src="/js/admin-login.js")