html
    head
        title Gaga Sneakers - Admin
        style
            include ../public/css/admin.css
    body
        h1 Admin Page 
        button#logout Log Out
        script(src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js")
        script(src="/js/admin.js")