html
    head
        title Gaga Snekaers - Shop
        style
            include ../public/css/shop.css
    body
        div(id="header")
            h2(id="main-text") Gaga Sneakers&trade;
        div(id="advertisment-div")
            img(src="/img/home-page-advertisment.webp" id="advertisment")
            div(id="div-text")
                h4(id="yeezy-text-1") ADIDAS YEEZY
                h2(id="yeezy-text") Yeezy 450 "Resin"
                p(id="yeezy-p") Worth the wait. The adidas Yeezy 450 finally debuted in 2021, nearly three years after the shoe was teased by Kanye West. Here, the futuristic 450 receives an earth tone makeover in the form of the 'Resin' colorway.
                button(id="yeezy-buy") Shop Now
        div(id="header-2")
            h3 All Arrivals
        div(id="main")
        script(src="/js/shop.js")